.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.pagination {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
button {
  width: 36px;
  height: 36px;
  margin: 8px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #eaf0ea;
  color: #435c21;
}

.active {
  background-color: #e1f6e2;
  color: #3e5c14;
}
